body {
    background: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

header p {
    /* get rid of the auto margins for <p>s */
    margin-block-start: 0;
    margin-block-end: 0;
}

header a {
    color: violet;
}

.quiz-wrapper {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 0;
}
